<header class="header">
  <img class="header__logo" src="./images/logo_spotify.png" alt="Spotify">
  <nav class="header__nav">
    <a href="#">
      <img class="header__hamburguesa" src="./images/menu-icon.png" alt="Menu hamburguesa">
    </a>
    <!-- <ul class="header__menu">
      <il class="header__menu-list"><a class="header__menu-links" href="#">Premium</a></il>
      <il class="header__menu-list"><a class="header__menu-links" href="#">Ayuda</a></il>
      <il class="header__menu-list"><a class="header__menu-links" href="#">Descargar</a></il>
      <il class="header__menu-list"><a class="header__menu-links" href="#">Registrarse</a></il>
      <il class="header__menu-list"><a class="header__menu-links" href="#">Iniciar sesión</a></il>
    </ul> -->
  </nav>
</header>